#root {
  width: 100%;
  
}


.scoreDisplay {
  z-index: 1;
  position: absolute;
  right: 2%;
  top: 20px;
  background-image: url(/scorecard.png);
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media (max-width:768px) {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.title {
  margin-left: 2%;
  width: 280px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width:768px) {
    z-index: 1;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;

  }

  >h1 {
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
    color: yellow;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
}

.displayer {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-image: url(/textbackground.jpg);
  background-position: center;
  background-size: cover;

  @media (max-width:768px) {
    background: transparent;
  }
}

.header {
  margin-bottom: 2%;
}


.win::after{
  content: "";
  position: absolute;
  background-image: url("/bubbles.png");
  background-size:contain;
  height: 98%;
  width: 100%;
  top:100%;
  animation: bubbles 4s;
  animation-iteration-count:1;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}


@keyframes bubbles{
  0% {

    top: 100%;
    opacity: 0;
    visibility: hidden
  } 
  1% {
    top: 100%;
    opacity: 1;
    visibility: visible
  } 
  99% {
    top: -100%;
    opacity: 1;
    
 }
  100% {
     top: -100%;
     opacity: 0;
    
  }
}


@keyframes bubblesMobile {
  0% {
    background-repeat: no-repeat;
    top: 100%;
    opacity: 0;
    visibility: hidden
  } 
  1% {
    background-repeat: no-repeat;
    top: 100%;
    opacity: 1;
    visibility: visible
  } 
  99% {
    background-repeat: no-repeat;
    top: -100%;
    opacity: 1;
    
 }
  100% {
    background-repeat: no-repeat;
     top: -100%;
     opacity: 0;
  
  }
}


@media (max-width:768px) {
  .win::after{
    animation: bubblesMobile 4s;
  }
}