:root {
  font-family: sponge,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'sponge';
  src:local('sponge'),url(./fonts/SpongeboyRegular-gx2n6.otf) format('opentype');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  background-image: url(/background.jpg);
  overflow: hidden;
  @media (max-width: 768px) {
    overflow: auto;
  }
  
}

h1 {
  font-size: 50px;
  @media  (max-width: 768px){
    max-width:300px;
  }
}



